    h1 {
    color: white;
    size: 40px;
    padding-left: 50px;
    padding-top: 50px;
    }
    
    h2 {
    color: white;
    size: 20px;
    }
    
    h3 {
    color: white;
    size: 40px;
    }

    p {
    padding-left: 50px;
    
    }