.radiolomake label {
color: #8dc63f;

}




h2{
    padding-top: 50px;
    padding-left: 50px;
}





form{
  padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
}




body{
  background-image: url(/kuvat/gamer-background.jpg);
  background-size: 100%;
}







