.radiolomake label {
color: white;

}




h1{
    padding-top: 50px;
    padding-left: 50px;
    font-size: 40px;
}





form{
  padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
}




body{
  background-image: url(/kuvat/gamer-background.jpg);
  background-size: 100%;
}



.i1{
  width: 500px;
  margin-bottom: 20px;
}


label{
  font-size: 20px;
}






.submit{

  
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}




@media only screen and (max-width: 650px){


  .i1{
    width: 200px;
    margin-bottom: 20px;
  }



  h1{
    font-size: 25px;
  }


label{
  font-size: 15px;
}



}


